@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}

header nav ul li a {
    color: grey;
}

header img {
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    color: grey;
    padding: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li.deroulant:hover > ul.sous {
    display: block;
}

nav ul ul.sous {
    display: none;
    position: absolute;
    background-color: white;
    padding: 1rem;
    border-radius: 0 0 5px 5px;
}

nav ul ul.sous li {
    padding: 0.5rem 0;
}

.texteduhaut {
    color: white;
}
.container2 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.container1 {
    background-color: #0057A4;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}


.container1 .item {
    flex-basis: 45%;
}
.container2 .item1 {
    flex-basis: 45%;
}

.imageeleves {
    width: 100%;
    height: auto;
}

main h1 {
    text-align: center;
    margin: 2rem 0;
}

section article {
    text-align: center;
    margin-bottom: 1.5rem;
}
.transformation h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.transformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white; /* changer la couleur de fond en blanc */
    padding: 2rem;
    margin-bottom: 20px;
    margin:0 auto;
}
.transformation img {
display: block;
float: left;
margin-right: 20px;
}

.videos {
    text-align: center;
}
section article img {
    width: 150px;
    margin-bottom: 1rem;
}

section iframe {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}

footer {
    background-color: #1A1A1A;
    padding: 2rem 0;
    text-align: center;
}

footer img {
    width: 200px;
}

.item {
    position: relative;
    background-color: #FFC;
    padding: 2rem;
    text-align: center;
    max-width: 400px;
  }
  
.item::before {
content: "";

position : absolute;
z-index  : -1;
bottom   : 15px;
right    : 5px;
width    : 50%;
top      : 80%;
max-width: 200px;

box-shadow: 0px 13px 10px black;
transform: rotate(4deg);
}

.basdepage {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.temoignages {
    background-color: orange;
}

.container3 {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem;
}

.container3 h1 {
    text-align: center;
}
.transformation h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

.basdepage {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.item3 {
    background-color: #F0F0F0;
    border: 1px solid #DDD;
    /* padding: 1rem;
    margin-bottom: 1rem; */
    max-width: 1200px;
}


.container3 .item3 {
flex-basis: 60%;
}
  
  

  